.App {
  margin: 20px auto 3px;
  width: 500px;
  padding: 20px 10px 20px 20px;
  border: 3px solid #5997aa;
  border-radius: 20px;
  background-image: url("assets/e036c9bc_1.jpg");
  font-family: "Quicksand", sans-serif;
}

p {
  text-align: center;
  padding: 0;
  margin: auto;
  font-size: 14px;
}
